@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: 'IM Fell Great Primer SC', serif;
    --fonte-texto: 'Source Serif Pro', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte-texto);
    font-size: 1em;
}

header {
    text-align: center;
    background-color: black;
    color: white;
}

header > h1 {
    font-family: var(--font-titulo);
    padding-top: 50px;
    font-size: 7vw;
}

header > p {
    font-family: var(--fonte-texto);
    padding-bottom: 50px;
    margin-top: 5px;
}

section.texto a, section.imagem a, footer a {
    text-decoration: none;
    font-weight: bold;
}

section.texto a:hover, section.imagem a:hover, footer a:hover {
    text-decoration: underline;
}


section {
    font-family: var(--fonte-texto);
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10vh 30px 10vh 30px;

}

section.texto {
    background-color: #DFD9CD;
}

section.texto a {
    color: black;
    text-decoration: none;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    width: 400px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem a {
    color: white;
    text-decoration: none;
}

section#img01 {
    background-image: url('../imagens/witcher02.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/witcher.jpg');
    background-repeat: no-repeat;
    background-position: right left;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 5px;
}